/* 全体の設定 */
html, body {
    height: 100%;
    width: 100%;
    margin : 0;
    color : white;
}
body {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game {
    display:none;
    justify-content: center;
    align-items: center;
}

/* ヘッダー */
.header {
    position: absolute;
    border: solid 3px white;
    height: 20vh;
    top : 3vh;
    width: 95%;
    
}
.header .status {
    float: left;
    color: white;
    /* width: 25%; */
}
.header .status .statusInner {
    margin-left:30px;
    margin-top:10px;
}

/* 真ん中の部分 */
.contents {
    width:100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen {
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フッター */
.footer {
    position: absolute;
    bottom : 3vh;
    height: 20vh;
    width: 95%;
}
.footer .chatbox {
    height : 100%;
    border: solid 3px white;
    display: none;
}
.footer .chatbox .chatboxInner {
    margin-left:10px;
    margin-top:10px;
}
.footer .command {
    height : 100%;
    border: solid 3px white;
}
.footer .command .command-inner {
    margin-left:30px;
    margin-top:10px;
}

@media screen and (orientation: landscape) {
    /* 横向きの場合のスタイル */
    .footer .command {
        width: 15vw;
    }
    .footer .command .command-inner {
        font-size : 2vw;
    }
    .screen img {
        height : 80%;
    }
    .footer .chatbox {
        font-size: 2vw;
    }
    .header .status {
        width: 25%;
    }
    .header .status .statusInner {
        font-size : 2vw;
    }
    @media screen and (max-height: 600px){
        /*必要ならばここにコードを書く*/
        .contents {
            height:40vh;
        }
    }
 }
 @media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    .footer .command {
        width: 30vw;
    }
    .footer .command .command-inner {
        font-size : 4vw;
    }
    .screen img {
        max-width : 50%;
    }
    .footer .chatbox {
        font-size: 4vw;
    }
    .header .status .statusInner {
        font-size : 4vw;
    }
 }
